<h1>{{title}}</h1>
<input type="text" #newTodoLabel/>
<input type="number" #newTodoPriority/>
<button (click)="addTodo(newTodoLabel.value,newTodoPriority.value)">Add</button> 

<table>
  <tr>
    <th>Label</th>
    <th>Priority</th>
    <th>Done</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let todo of todos; let i=index">
    
    <td>{{todo.label}}</td>
    <td>{{todo.priority}}</td>
    <!-- <td>{{todo.done ? '&#10004;' : '&#967;'}}</td> -->
    <td>
      <button type="button" (click)="updateStatus(todo.done,i)">{{todo.done  ? '&#10004;' : '&#967;'}}</button>

    </td>
    <td>
      <button type="button" (click)="deleteTodo(i)">Delete</button>
    </td>
  </tr>

</table>